{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
	<!--<![endif]-->

	<head>
		<meta name="theme-color" content="#009ee0">
		<meta property="og:image" itemprop="image" content="http://prestamoasegurado.com/img/android-icon-200x200.png">
		<meta property="og:url" content="http://prestamoasegurado.com">
		<meta property="og:site_name" content="PrestamoAsegurado">
		<meta property="og:title" content="PrestamoAsegurado" />
		<meta property="og:description" content="PrestamoAsegurado. Empresa dedicada a la tramitación online de microcréditos, préstamos personales. Su dinero en minutos." />
		<meta property="og:type" content="website" />
		<meta property="og:updated_time" content="1440432930" />
		<meta charset="utf-8">
		<title>PrestamoAsegurado - Solicite su préstamo online en minutos gratuitamente</title>
		<meta name="description" content="PrestamoAsegurado. Empresa dedicada a la tramitación online de microcréditos, préstamos personales. Su dinero en minutos.">
		<meta name="author" content="booleanwork.com">

		<!-- Mobile Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Favicon -->
		<link rel="shortcut icon" href={% static "img/favicon.png" %}>

		<!-- Web Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>

		<!-- Bootstrap core CSS -->
		<link href={% static "css/bootstrap.css"%}  rel="stylesheet">

		<!-- Font Awesome CSS -->
		<link href={% static "fonts/font-awesome/css/font-awesome.css"%}  rel="stylesheet">

		<!-- Fontello CSS -->
		<link href={% static "fonts/fontello/css/fontello.css"%}  rel="stylesheet">

		<!-- Plugins -->
		<link href={% static "plugins/magnific-popup/magnific-popup.css"%}  rel="stylesheet">
		<link href={% static "plugins/rs-plugin/css/settings.css"%}  rel="stylesheet">
		<link href={% static "css/animations.css"%}  rel="stylesheet">
		<link href={% static "plugins/owl-carousel/owl.carousel.css"%}  rel="stylesheet">
		<link href={% static "plugins/owl-carousel/owl.transitions.css"%}  rel="stylesheet">
		<link href={% static "plugins/hover/hover-min.css"%}  rel="stylesheet">

		<!-- The Project's core CSS file -->
		<link href={% static "css/style.css" %} rel="stylesheet" >
		<!-- The Project's Typography CSS file, includes used fonts -->
		<!-- Used font for body: Roboto -->
		<!-- Used font for headings: Raleway -->
		<link href={% static "css/typography-default.css" %} rel="stylesheet" >

		<!-- Custom css -->
		<link href={% static "css/stylesheet.css"%}  rel="stylesheet">
		<link href={% static "css/custom3.css"%}  rel="stylesheet">
	</head>

	<!-- body classes:  -->
	<!-- "boxed": boxed layout mode e.g. <body class="boxed"> -->
	<!-- "pattern-1 ... pattern-9": background patterns for boxed layout mode e.g. <body class="boxed pattern-1"> -->
	<!-- "transparent-header": makes the header transparent and pulls the banner to top -->
	<!-- "gradient-background-header": applies gradient background to header -->
	<!-- "page-loader-1 ... page-loader-6": add a page loader to the page (more info @components-page-loaders.html) -->
	<body class="no-trans  transparent-header  ">
<!-- Google Code -->
  <script type="text/javascript">
    /* <![CDATA[ */
    goog_snippet_vars = function() {
      var w = window;
      w.google_conversion_id = 875759409;
      w.google_conversion_label = "TGsHCLyo-2oQsY7MoQM";
      w.google_remarketing_only = false;
    }
    // DO NOT CHANGE THE CODE BELOW.
    goog_report_conversion = function(url) {
      goog_snippet_vars();
      window.google_conversion_format = "3";
      var opt = new Object();
      opt.onload_callback = function() {
      if (typeof(url) != 'undefined') {
        window.location = url;
      }
    }
    var conv_handler = window['google_trackConversion'];
    if (typeof(conv_handler) == 'function') {
      conv_handler(opt);
    }
  }
  /* ]]> */
  </script>
  <script type="text/javascript"
    src="//www.googleadservices.com/pagead/conversion_async.js">
  </script>

    <!--//BLOQUE COOKIES-->
    <div id="barraaceptacion">
    	<div class="inner">
        Solicitamos su permiso para obtener datos estadísticos de su navegación en esta web, en cumplimiento del Real Decreto-ley 13/2012. Si continúa navegando consideramos que acepta el uso de cookies.
    		<a href="javascript:void(0);" class="Aceptar" onclick="PonerCookie();"><b>Aceptar</b></a> |
    		<a href="http://prestamoasegurado.com/cookies.php" target="_blank" class="info">M&aacute;s informaci&oacute;n</a>
    	</div>
    </div>

    <script>
      function getCookie(c_name){
      	var c_value = document.cookie;
      	var c_start = c_value.indexOf(" " + c_name + "=");
      	if (c_start == -1){
      		c_start = c_value.indexOf(c_name + "=");
      	}
      	if (c_start == -1){
      		c_value = null;
      	}else{
      		c_start = c_value.indexOf("=", c_start) + 1;
      		var c_end = c_value.indexOf(";", c_start);
      		if (c_end == -1){
      			c_end = c_value.length;
      		}
      		c_value = unescape(c_value.substring(c_start,c_end));
      	}
      	return c_value;
      }

      function setCookie(c_name,value,exdays){
      	var exdate=new Date();
      	exdate.setDate(exdate.getDate() + exdays);
      	var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString());
      	document.cookie=c_name + "=" + c_value;
      }

      if(getCookie('tiendaaviso')!="1"){
      	document.getElementById("barraaceptacion").style.display="block";
      }
      function PonerCookie(){
      	setCookie('tiendaaviso','1',365);
      	document.getElementById("barraaceptacion").style.display="none";
      }
    </script>
    <!--//FIN BLOQUE COOKIES-->

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-85377762-1', 'auto');
      ga('send', 'pageview');

    </script>
		<!-- scrollToTop -->
		<!-- ================ -->
		<div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>

		<!-- page wrapper start -->
		<!-- ================ -->
		<div class="page-wrapper">

			<!-- header-container start -->
			<div class="header-container">
                <div class="llamar">
                    <div class="container">
                        <div class="col-md-6 col-xs-6">
                          <div class="altura">
                            <a href="http://prestamoasegurado.com/" title="Solicitar crédito ahora" rel="home">

                                <img alt=""  src={% static "img/logo.png" %} class="img-responsive">
                            </a>
                          </div>
                        </div>
                        <div class="col-md-6 col-xs-6 pull-right text-right">

                                <a onclick="goog_report_conversion ('tel:807 464 206’)" href="tel:807 464 206" class="btn btn-warning2"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 807 464 206</a>
                        </div>
                    </div>
                </div>
				<!-- header-top start -->
				<!-- classes:  -->
				<!-- "dark": dark version of header top e.g. class="header-top dark" -->
				<!-- "colored": colored version of header top e.g. class="header-top colored" -->
				<!-- ================ -->
				<div class="header-top colored ">
					<div class="container">
						<div class="row">
							<div class="col-xs-3 col-sm-6 col-md-9">
								<!-- header-top-first start -->
								<!-- ================ -->
								<div class="header-top-first clearfix">
									<ul class="social-links circle small clearfix hidden-xs">
										<li class="twitter"><a target="_blank" href="https://twitter.com/prestasegurado"><i class="fa fa-twitter"></i></a></li>
										<li class="facebook"><a target="_blank" href="https://www.facebook.com/Pr%C3%A9stamo-Asegurado-1384381671579983/"><i class="fa fa-facebook"></i></a></li>
									</ul>
									<div class="social-links hidden-lg hidden-md hidden-sm circle small">
										<div class="btn-group dropdown">
											<button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><i class="fa fa-share-alt"></i></button>
											<ul class="dropdown-menu dropdown-animation">
												<li class="twitter"><a target="_blank" href="https://twitter.com/prestasegurado"><i class="fa fa-twitter"></i></a></li>
												<li class="facebook"><a target="_blank" href="https://www.facebook.com/Pr%C3%A9stamo-Asegurado-1384381671579983/"><i class="fa fa-facebook"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
								<!-- header-top-first end -->
							</div>
							<div class="col-xs-9 col-sm-6 col-md-3">
								<!-- header-top-second start -->
								<!-- ================ -->
								<div id="header-top-second" class="clearfix">

									<!-- header top dropdowns start -->
									<!-- ================ -->
									<div class="header-top-dropdown text-right">
										<div class="btn-group dropdown">
											<button type="button" class="btn dropdown-toggle btn-default btn-sm" data-toggle="dropdown"><i class="fa fa-lock pr-10"></i> Login</button>
											<ul class="dropdown-menu dropdown-menu-right dropdown-animation">
												<li>
                                                    <form class="login-form margin-clear" method="post" action="#">
                                                        {% csrf_token %}
                                                        <div class="form-group has-feedback">
                                                            <label class="control-label">Usuario:</label>
                                                            {{ form.username }}
                                                            <i class="fa fa-user form-control-feedback"></i>
                                                        </div>
                                                        <div class="form-group has-feedback">
                                                            <label class="control-label">Contraseña:</label>
                                                            {{ form.password }}
                                                            {% if incorrect %}
                                                            <span class="error" style="color:red">
                                                            Usuario o contraseña incorrectos
                                                        </span>
                                                            {% endif %}
                                                            <i class="fa fa-lock form-control-feedback"></i>
                                                        </div>
                                                        <button type="submit" class="btn btn-gray btn-sm">Entrar</button>
                                                    </form>
												</li>
											</ul>
										</div>
									</div>
									<!--  header top dropdowns end -->
								</div>
								<!-- header-top-second end -->
							</div>
						</div>
					</div>
				</div>

				<!-- header start -->
				<!-- classes:  -->
				<!-- "fixed": enables fixed navigation mode (sticky menu) e.g. class="header fixed clearfix" -->
				<!-- "dark": dark version of header e.g. class="header dark clearfix" -->
				<!-- "full-width": mandatory class for the full-width menu layout -->
				<!-- "centered": mandatory class for the centered logo layout -->
				<!-- ================ -->
				<header class="header clearfix">

					<div class="container">
						<div class="row">
							<div class="col-md-3 ">
								<!-- header-left start -->
								<!-- ================ -->
								<div class="header-left clearfix">

									<!-- logo -->
									<div class="logo" style="margin-bottom:12px">
										<a href="/"><img id="logo_img" src={% static "img/logo.png" %} alt="Prestamo Asegurado"></a>
									</div>


								</div>
								<!-- header-left end -->

							</div>
							<div class="col-md-9">

								<!-- header-right start -->
								<!-- ================ -->
								<div class="header-right clearfix">

								<!-- main-navigation start -->
								<!-- classes: -->
								<!-- "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick" -->
								<!-- "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated" -->
								<!-- "with-dropdown-buttons": Mandatory class that adds extra space, to the main navigation, for the search and cart dropdowns -->
								<!-- ================ -->
								<div class="main-navigation  animated with-dropdown-buttons">

									<!-- navbar start -->
									<!-- ================ -->
									<nav class="navbar navbar-default" role="navigation">
										<div class="container-fluid">

											<!-- Toggle get grouped for better mobile display -->
											<div class="navbar-header">
												<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
													<span class="sr-only">Toggle navigation</span>
													<span class="icon-bar"></span>
													<span class="icon-bar"></span>
													<span class="icon-bar"></span>
												</button>

											</div>

											<!-- Collect the nav links, forms, and other content for toggling -->
											<div class="collapse navbar-collapse" id="navbar-collapse-1">
												<!-- main-menu -->
												<ul class="nav navbar-nav ">

													<!-- mega-menu start -->
													<li class="mega-menu">
														<a href="/">Home</a>
													</li>
													<li class="mega-menu">
														<a href="/empresa/">Empresa</a>
													</li>
													<li class="mega-menu">
														<a href="/servicios/">Servicios</a>
													</li>
													<li class="mega-menu">
														<a href="/faq/">Preguntas Frecuentes</a>
													</li>
												</ul>
											</div>

										</div>
									</nav>
									<!-- navbar end -->

								</div>
								<!-- main-navigation end -->
								</div>
								<!-- header-right end -->

							</div>
						</div>
					</div>

				</header>
				<!-- header end -->
			</div>
			<!-- header-container end -->

			<!-- banner start -->
			<!-- ================ -->
			<div class="banner clearfix">
                <!-- slideshow start -->
                <!-- ================ -->
                <div class="slideshow">

                    <!-- slider revolution start -->
                    <!-- ================ -->
                    <div class="slider-revolution-5-container">
                        <div id="slider-banner-fullwidth" class="slider-banner-fullwidth rev_slider" data-version="5.0">
                            <ul class="slides">
                                <!-- slide 1 start -->
                                <!-- ================ -->
                                <li data-transition="none" data-slotamount="default" data-masterspeed="default" data-title="">

                                    <!-- main image -->
                                    <img src={% static "img/portada.jpg" %} data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">

                                </li>
                            </ul>
                            <div class="tp-bannertimer"></div>
                        </div>
                    </div>
                    <!-- slider revolution end -->

                </div>
                <!-- slideshow end -->

            </div>

            <div id="page-start"></div>

            {% block content %}



            {% endblock %}

			<footer id="footer" class="container-fluid">
				<div class="container">
					<br>
					<div class="row">
						<div class="col-md-offset-1 col-md-3 col-xs-4">
							<img alt="" src={% static "img/favicon.png" %} class="center-block img-responisve">
							<h5 class="colortaronja text-center"><b>Préstamo Asegurado</b></h5>
							<h6 class="colorblanc text-center"><b>Su web de Préstamos</b></h6>
						</div>
						<div class="col-md-3 col-xs-4">
							<p class="colortaronja"><b>Contacto</b>
							</p>
							<p class="colorgris">C/Pintor Fortuny 21 Local
								<br>08840 Viladecans (Barcelona)</p>
							<!-- <p class="colortaronja"><b>Mail</b>
                            </p>
                            <p class="colorgris">info@prestamoasegurado.com</p> -->
						</div>
						<div class="col-md-1 col-xs-4">
							<p class="colortaronja"><b>Siguenos</b>
							</p>
							<p class="colorgris"><a href="https://www.facebook.com/Pr%C3%A9stamo-Asegurado-1384381671579983/">Facebook</a>
							</p>
							<p class="colorgris"><a href="https://twitter.com/prestasegurado">Twitter</a>
							</p>
						</div>
						<div class="col-md-offset-1 col-md-2 col-xs-offset-4 col-xs-5">
							<p class="colortaronja"><b>Llámanos</b>
							</p>
                            <a href="tel:807464206"><p class="colorgris">807 464 206
                            </p></a>
						</div>
					</div>
                    <br>
					<p class="text-center numtext">*El precio máximo por minuto de la llamada es de 1,21€/min si llama desde un teléfono fijo y de 1,57€/min euro si llama desde un teléfono móvil, Impuestos incluidos. Servicio solo para mayores de 18 años<br></p>
					<br>
					<div class="row">
						<div class="col-sm-offset-3 col-sm-6">
							<p class="text-center colorgris">
								<a href="/politica">Protección de datos</a> |
								<a href="/aviso">Aviso Legal</a> |
								<a href="/gastos">Comisiones y gastos</a> |
								<a href="/cookies">Políticas de cookies</a>
							</p>
						</div>
					</div>
					<p class="text-center colorgris">
						Web desarrollada por <a class="colorblau" href="http://booleanwork.com">BooleanWork</a>
					</p>
				</div>
			</footer>
		</div>
		<!-- page-wrapper end -->

		<!-- JavaScript files placed at the end of the document so the pages load faster -->
		<!-- ================================================== -->
		<!-- Jquery and Bootstap core js files -->
		<script type="text/javascript" src={% static "plugins/jquery.min.js"%}></script>
		<script type="text/javascript" src={% static "js/bootstrap.min.js"%}></script>
		<!-- Modernizr javascript -->
		<script type="text/javascript" src={% static "plugins/modernizr.js"%}></script>
		<!-- jQuery Revolution Slider  -->
		<script type="text/javascript" src={% static "plugins/rs-plugin/js/jquery.themepunch.tools.min.js"%}></script>
		<script type="text/javascript" src={% static "plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"%}></script>
		<!-- Isotope javascript -->
		<script type="text/javascript" src={% static "plugins/isotope/isotope.pkgd.min.js"%}></script>
		<!-- Magnific Popup javascript -->
		<script type="text/javascript" src={% static "plugins/magnific-popup/jquery.magnific-popup.min.js"%}></script>
		<!-- Appear javascript -->
		<script type="text/javascript" src={% static "plugins/waypoints/jquery.waypoints.min.js"%}></script>
		<!-- Count To javascript -->
		<script type="text/javascript" src={% static "plugins/jquery.countTo.js"%}></script>
		<!-- Parallax javascript -->
		<script src={% static "plugins/jquery.parallax-1.1.3.js"%}></script>
		<!-- Contact form -->
		<script src={% static "plugins/jquery.validate.js"%}></script>
		<!-- Background Video -->
		<script src={% static "plugins/vide/jquery.vide.js"%}></script>
		<!-- Owl carousel javascript -->
		<script type="text/javascript" src={% static "plugins/owl-carousel/owl.carousel.js"%}></script>
		<!-- SmoothScroll javascript -->
		<script type="text/javascript" src={% static "plugins/jquery.browser.js"%}></script>
		<script type="text/javascript" src={% static "plugins/SmoothScroll.js"%}></script>
		<!-- Initialization of Plugins -->
		<script type="text/javascript" src={% static "js/template.js"%}></script>
		<!-- Custom Scripts -->
		<script type="text/javascript" src={% static "js/custom.js"%}></script>
        <!-- Google Code para etiquetas de remarketing -->
        <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 875759409;
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
        /* ]]> */
        </script>
        <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
        </script>
        <noscript>
        <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/875759409/?guid=ON&amp;script=0"/>
        </div>
        </noscript>
	</body>
</html>
