{% extends "web_base.html" %}
{% load staticfiles %}
{% block content %}
<br><br>
<div class="container">
    <div class="container mi-container gris" id="préstamorapido">
        <p><span class="glyphicon glyphicon-triangle-right triangulo-p"></span><font class="mi-texto-header">&nbsp;Política de Cookies</font>
        </p>
        <br>

        <div class="row">
            <div class="col-md-12">
                <p><span class="glyphicon glyphicon-asterisk asteriskc" aria-hidden="true"></span>&nbsp;&nbsp;
                  Las Cookies son archivos que el sitio web o la aplicación que vaya a estar en uso, instala en su navegador o en su dispositivo (Smartphone, tableta o televisión conectada) durante su recorrido por la página o por la aplicación, siendo su principal misión almacenar información sobre tu visita. La web de PrestamoAsegurado utiliza Cookies para:
<b><br>
<br>- Asegurar que las páginas web pueden funcionar correctamente.
<br>- Almacenar tus preferencias, como el idioma que has seleccionado o el tamaño de letra.
<br>- Conocer tu experiencia de navegación.
<br>- Recopilar información estadística.</b><br><br>

El uso de Cookies nos permite optimizar tu navegación, adaptando la información y los servicios ofrecidos a tus intereses, para proporcionarte una mejor experiencia siempre que nos visites. El sitio web de Prestamo Asegurado utiliza Cookies para funcionar, adaptar y facilitar al máximo la navegación del Usuario.
<br>
Las Cookies se asocian únicamente a un usuario anónimo y su ordenador/dispositivo y no proporcionan referencias que permitan conocer datos personales. En todo momento podrás acceder a la configuración de tu navegador para modificar y/o bloquear la instalación de las Cookies enviadas por el sitio web de PrestamoAsegurado.com sin que ello impida al acceso a los contenidos. Sin embargo, la calidad del funcionamiento de los Servicios puede verse afectada.
<br>
Las Cookies desde un punto de vista técnico, permiten que los sitios web funcionen de forma más ágil y adaptada a las preferencias de los usuarios, como por ejemplo almacenar el idioma o detectar el dispositivo de acceso.
<br>
Establecen niveles de protección y seguridad que Impiden o dificultan ciberataques contra el sitio web o sus usuarios y permiten que los gestores de los medios puedan conocer datos estadísticos recopilados en las Cookies para mejorar la calidad y experiencia de sus servicios, sirviendo también para optimizar la publicidad que mostramos a los usuarios, ofreciendo la que más se ajusta a sus intereses.
                </p>
            </div>
        </div>

        <br>
        <br>
    </div>
    <br><br>
    <h2>Mail de contacto:<br>
    <small><a href="prestamoaseguradomail@gmail.com">prestamoaseguradomail@gmail.com</a></small></h2>
</div>
    <br>
    <br>

{% endblock content %}