{% extends "web_base.html" %}
{% load staticfiles %}
{% block content %}
<br><br>
            <div id="rapido" class="image-box style-4 light-gray-bg">
				<div class="row grid-space-0">
					<div class="col-md-6">
						<div class="overlay-container">
							<img src={% static "img/rapido.jpg" %} alt="">
						</div>
					</div>
					<div class="col-md-6">
						<div class="body">
							<div class="pv-30 visible-lg"></div>
							<h3>Créditos Rápidos</h3>
							<div class="separator-2"></div>
							<p class="margin-clear">




                                    <p>Los <strong>créditos rápidos </strong>están destinados a personas que están pasando por un bache económico, hacer frente a gastos inesperados o necesidades de dinero puntuales. No dude en llamar y pedir información. Este servicio <font class="ofrece-desde">ofrece desde 500€ a 6.000€ </font> adaptándose a las necesidades de cada uno.</p>
                                    <br>
                                    <br>
                                    <div class="row">
                                        <div class="col-xs-1 col-md-1">
                                            <img alt="" class="tick-p" src={% static "img/tick-grande.png" %}>
                                        </div>
                                        <div class="col-xs-1"></div>
                                        <div class="col-xs-9  col-md-11">
                                            <p>Este tipo de servicio también es llamado Crédito Urgente o Préstamo sin Aval, ya que no supera una cantidad de dinero elevada y en la mayoría de entidades bancarias, el ingreso es en menos de 5 días laborables.</p>
                                        </div>
                                    </div>

                                    <br>

                                    <div class="row">
                                        <div class="col-xs-1 col-md-1">
                                            <img alt="" class="tick-p" src={% static "img/tick-grande.png" %}>
                                        </div>
                                        <div class="col-xs-1"></div>
                                        <div class="col-xs-9 col-md-11">
                                            <p>Consulte la simulación de préstamos para ver los valores y las tasas, recordando que PréstamoAsegurado no comisiona por la aceptación del préstamo.</p>
                                        </div>
                                    </div>
                                    <br>


                            </p>
							<br>
						</div>
					</div>
				</div>
			</div>
			<div id="hogar" class="image-box style-4 light-gray-bg">
				<div class="row grid-space-0">
					<div class="col-md-6 col-md-push-6">
						<div class="overlay-container">
							<img src={% static "img/hipotecario.jpg" %} alt="">
						</div>
					</div>
					<div class="col-md-6 col-md-pull-6">
						<div class="body text-right">
							<div class="pv-30 visible-lg"></div>
							<h3>Créditos Hogar</h3>
							<div class="separator-3"></div>
							<p class="margin-clear">Destinado a la compra de un bien o inmueble en propiedad, este producto es el que consigue mejores condiciones bancarias. Estudiamos por usted los mejores índices de referencia del mercado (Euribor, IRPH cajas, IRPH bancos ...)
                                <br>
                                <br> Si está pensando en adquirir una vivienda, Préstamo Asegurado le ofrece la mejor solución para tramitar su préstamo hipotecario con las entidades más reconocidas del mercado español.
                                <br>
                                <br> Negociamos con los bancos por usted, consiguiendo que aprueben la hipoteca con las mejores condiciones. Su nueva hipoteca con el menor tipo de interés del mercado. Nuestro reto es hacerlo posible.
                                <br>
                                <br> Cambie de banco y benefíciese de las mejores condiciones, cuotas mucho más bajas que las actuales y sin pagar ni un solo euro por mejorar sus condiciones ya que los gastos que se ocasionen por las escrituras de subrogación van a cargo de la entidad financiera. Mejore rápidamente sus condiciones actuales.
                                </p>
							<br>
						</div>
					</div>
				</div>
			</div>
			<div id="personal" class="image-box style-4 light-gray-bg">
				<div class="row grid-space-0">
					<div class="col-md-6">
						<div class="overlay-container">
							<img src={% static "img/personal.jpg" %} alt="">
						</div>
					</div>
					<div class="col-md-6">
						<div class="body">
							<div class="pv-30 visible-lg"></div>
							<h3>Préstamo Personal</h3>
							<div class="separator-2"></div>
							<p class="margin-clear">

                                Préstamo personal es un producto que le permite cubrir muchas necesidades que con ahorro no podemos conseguir, puede solicitarlo por importes a partir de los 6.000€.
                    <br> Costear los estudios universitarios, financiación para un proyecto profesional o realizar un viaje de ensueño, no tienen porque esperar. Prestamo Asegurado pone a su alcance un préstamo personal a su medida para que haga realidad sus proyectos e ilusiones.
                    <br> Los préstamos personales se conceden basándose en la confianza que inspira el beneficiario. Prestamo Asegurado le da toda su confianza para que pueda disfrutar de forma inmediata de su financiación.
                    <br>
                    <br>
                    <b>¿Está incluido en RAI / ASNEF y necesita un crédito?</b>
                    <br>
                    <br> Si se encuentra en una lista de morosos como RAI o ASNEF es prácticamente imposible acceder al crédito bancario.
                    <br> Préstamo Asegurado le ofrece sus servicios para que pueda acceder a un préstamo de dinero privado y cancelar las deudas pendientes que figuran en las listas de RAI o ASNEF.


                            </p>
							<br>
						</div>
					</div>
				</div>
			</div>
			<div id="coche" class="image-box style-4 light-gray-bg">
				<div class="row grid-space-0">
					<div class="col-md-6 col-md-push-6">
						<div class="overlay-container">
							<img src={% static "img/coche.jpg" %} alt="">
						</div>
					</div>
					<div class="col-md-6 col-md-pull-6">
						<div class="body text-right">
							<div class="pv-30 visible-lg"></div>
							<h3>Préstamo Vehículo</h3>
							<div class="separator-3"></div>
							<p class="margin-clear">Estamos encantados de ofrecer préstamos a todo tipo de vehículos, y al igual que en todos los préstamos, tu vehículo se utilizará como garantía para el préstamo pero con la particularidad que no es obligatorio esto último. También puedes seguir conduciéndolo sin ningún tipo de problema. Nuestras valoraciones son completadas en 24 horas. Una vez que la valoración se realiza, puedes obtener el dinero que necesitas. El automóvil será manejado cuidadosamente por nuestras instalaciones hasta llegar al parking asignado. Además, nuestras instalaciones son seguras y tienen un clima controlado por control remoto.</p>
							<br>
						</div>
					</div>
				</div>
			</div>


			<section class="section clearfix" id="section3">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="call-to-action text-center">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <h1 id="section3title" class="title"></i>Llámenos</h1>
                                        <ul class="list-inline">
                                            <li><p class="link-light">Atención Instantánea</p></li>
                                            <li><p class="link-light">Su dinero inmediato</p></li>
                                            <li><p class="link-light">Ayudas RAI / ASNEF</p></li>
                                            <li><p class="link-light">Préstamo Online</p></li>
                                            <li><p class="link-light">Trato Personalizado</p></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-4">
                                        <br>
                                        <p><a href="tel:807464206" class="btn btn-lg btn-default btn-animated">807 46 42 06<i class="fa fa-phone pl-20"></i></a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="container">
            <br><br>
                <h4><b>Antes de empezar su trámite </b></h4>
                <h5>Antes de empezar el trámite para la solicitud del préstamo recuerde tener a mano la siguiente información:</h5>
                <br>
                <div class="row">
                    <div class="col-sm-4">
                        <p><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span><b>El número de DNI/NIE del titular y cotitular.</b>
                        </p>
                        <img alt="" src={% static "img/l1.png" %}>
                    </div>
                    <div class="col-sm-4">
                        <p><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span><b>Los datos de su última nómina o pensión.</b>
                        </p>
                        <img alt="" src={% static "img/l2.png" %}>
                    </div>
                    <div class="col-sm-4">
                        <p><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span><b>El código de su cuenta bancaria.</b>
                        </p>
                        <img alt="" src={% static "img/l3.png" %}>
                    </div>
                </div>
                <br>
                <br>
                <div class="container mi-container2">
                    <h4 class="text-center"><b>Uso Responsable del Dinero</b></h4>
                    <div class="row">
                        <div class="col-sm-6">
                            <h5 class="text-center"><b>Seguridad y responsabilidad</b></h5>
                            <p>Préstamo Asegurado pide cordialmente un uso responsable y conocimiento a la hora de pedir un préstamo, hoy en día la situación económica no es la esperada por muchos, aun así poco a poco y gracias a la preferencia que otorga el banco a empresas como Prestamo Asegurado ya es factible salir de cualquier lista de RAI o ASNEF, pedir un microcrédito de hasta 6000 euros ,e incluso poder pedir una reunificación de deudas para poder superar los momentos mas difíciles que cada sujeto pueda tener, no obstante desde aquí Prestamo Asegurado pide conocimiento a la hora de gastar ese dinero y ser responsables a la hora de poco a poco ir devolviendo ese dinero al banco con su interés correspondiente, ya que dado el caso de que no se hiciera podría usted entrar en lista de RAI o ASNEF dificultando para un futuro su economía.</p>
                        </div>
                        <div class="col-sm-6">
                            <h5 class="text-center"><b>Consejos Prácticos al solicitar su crédito</b></h5>
                            <p>Es muy positivo mantenerse con una Actitud Colaborativa cuando la teleoperadora nos presente sus preguntas y condiciones. Si entre ellas se encuentran aspectos que no nos convencen, debemos preguntar si ningún tipo de preocupación ya que hay soluciones para muchos tipos de casos en los que no se da directamente el crédito a la persona, si no que se necesita algún aval o otra cantidad inferior a la solicitada. Historial crediticio es indispensable no aparecer en ninguna lista de morosos. No es la primera vez que una pequeña cantidad pendiente, o incluso el error de alguna compañía telefónica, nos hace aparecer allí y nos impide solicitar financiación urgente. Infórmate antes y salda tus cuentas para tener más posibilidades de que la entidad nos diga "sí" a la solicitud de crédito.</p>
                        </div>
                    </div>
                </div>
            <br><br>
            </div>


{% endblock content %}