{% extends "web_base.html" %}
{% load staticfiles %}
{% block content %}
<br><br>
<div class="container">
    <div class="container mi-container gris" id="préstamorapido">
        <p><span class="glyphicon glyphicon-triangle-right triangulo-p"></span><font class="mi-texto-header">&nbsp;Proteccion de datos</font>
        </p>
        <br>

        <div class="row">
            <div class="col-md-12">
                <p>En cumplimiento de lo establecido en la Ley Orgánica 15/1999, de 13 de diciembre, sobre protección de datos de carácter personal, le informamos que sus datos personales serán tratados y quedarán incorporados en los ficheros de esta empresa, con el fin de prestarte los servicios solicitados. La empresa tratará estos datos con la máxima confidencialidad. Asimismo, le informamos que usted puede ejercitar los derechos de acceso, rectificación, cancelación y oposición en esta dirección.
                  <br><br>La información que nos proporciones será registrada electrónicamente y podrá ser usada de la siguiente manera:<br><b>

Para verificar tu identidad y concederte el crédito en base a la información proporcionada en tu solicitud.<br>
Realizar estudios estadísticos.<br>
Para contactar contigo.<br>
Para recobrar los créditos que concedemos en caso que sea necesario.<br></b><br>
Cualquier solicitud que hagas en nuestra página web nos permitirá usar los datos que nos hayas proporcionado, en relación con los productos o servicios que ofrecemos. Podremos también enviarte información sobre productos o servicios idénticos o similares a los solicitados y que puedan interesarte, siempre que nos des tu consentimiento para ello. En todo caso, dicho consentimiento podrás ser revocado en cualquier momento mediante el envío de un correo electrónico a info@prestamoasegurado.com o mediante la marcación de dicha opción en cada una de las comunicaciones comerciales remitidas.
<br><br>
PrestamoAsegurado es incapaz de proporcionar un préstamo para el cliente, PrestamoAsegurado procesará y enviará estos datos personales a uno o más de los socios que trabajan con PrestamoAsegurado. Mediante el envío de la solicitud a través www.prestamoasegurado.com, está de acuerdo con todos los principios de esta Política, lo que permite PrestamoAsegurado o de sus socios para comunicarse con el cliente utilizando la dirección de correo electrónico y número de teléfono para procesar la solicitud y ofrecer sus servicios en el más de manera adecuada para el cliente.
<br><br>
Para solicitar nuestros servicios requerimos la edad entre 18 y 65 años.
                </p>
            </div>
        </div>

        <br>
        <br>
    </div>
</div>
    <br>
    <br>

    <div class="container">
        <div class="container mi-container gris" id="préstamorapido">
            <p class="text-center"><span class="glyphicon glyphicon-triangle-right triangulo-p"></span><font class="mi-texto-header">PréstamoAsegurado le informa</font>
            </p>
            <div class="subtexto"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Si usted ha proporcionado sus datos personales a préstamo asegurado, sepa que sus datos están seguros en nuestra base de datos y adecuados a la nueva normativa de protección de datos.</b>
            </div>
            <p class="text-right"><a href="/politica.php"><small>Leer más...</small></a></p>
            <br>
            <br>

            <div class="row">
                <div class="col-md-5">
                    <p><span class="glyphicon glyphicon-asterisk asteriskc" aria-hidden="true"></span>&nbsp;&nbsp;En cumplimiento con lo establecido en la Ley Orgánica 15/1999, de 13 de diciembre, de PROTECCION DE DATOS de Carácter Personal "LOPD", SE LE HACE SABER que todos sus datos que nos haga llegar para poder realizar su estudio de crédito a nuestra entidad, se incluirán en el Fichero de Clientes Confidencial de nuestra empresa PréstamoAsegurado S.L., con domicilio en Viladecans, c/ Pintor Fortuny nº 21 08840 (Barcelona) y serán tratados con toda confidencialidad para el desarrollo del estudio, incluyéndose las gestiones que sean necesarias con nuestros colaboradores (entidades financieras). A la vez de poder usar esos datos para poder comunicarle a través del correos electrónicos, fax o telefónicamente cualquier detalle relacionado con su solicitud de crédito.</p>
                </div>
                <div class="col-md-3">
                    <p><span class="glyphicon glyphicon-asterisk asteriskc" aria-hidden="true"></span>&nbsp;&nbsp;El solicitante autoriza a Préstamo Asegurado a consultar los ficheros oportunos al efecto; en especial, en aplicación del Real Decreto 1720/2007, de 21 de diciembre. Si desea ejercer sus derechos de acceso, rectificación y cancelación, rogamos nos remita carta con todos sus datos, incluyendo DNI a Préstamo Asegurado, c/ Pintor Fortuny 21 Local 08840 de Viladecans (Barcelona) llamando al numero de teléfono que aparece en la web o al email info@préstamoasegurado.com.</p>
                </div>
                <div class="col-md-4">
                    <p><span class="glyphicon glyphicon-asterisk asteriskc" aria-hidden="true"></span>&nbsp;&nbsp;Le hacemos saber que el Fichero de Clientes de Préstamo Asegurado en cual se encuentran todos los datos que usted voluntariamente nos ha facilitado cumple con todas las medidas de seguridad necesarias para que garanticen la seguridad y confidencialidad de sus datos por lo que queda garantizada la total seguridad de la información que nos facilite . El titular responde de veracidad de los datos que nos ha facilitado, reservándose Préstamo Asegurado el derecho a anularlos, caso de verificar la falsedad de los mismos. Viladecans (Barcelona), a 10 de Diciembre de 2014</p>
                </div>
            </div>

            <br>
            <br>
        </div>
        <br>
        <br>

    </div>

<br>
<br>

{% endblock content %}