{% extends "web_base.html" %}
{% load staticfiles %}
{% block content %}
<br><br>
<div class="container">
    <div class="container mi-container gris" id="préstamorapido">
        <p><span class="glyphicon glyphicon-triangle-right triangulo-p"></span><font class="mi-texto-header">&nbsp;Comisiones y Gastos</font>
        </p>
        <br>

        <div class="row">
            <div class="col-md-12">
                <p>
                  <b>1.</b> Los gastos concernientes a honorarios, se han de abonar en la firma de la notaría, y de esto se le informa al cliente.
<br>
COMISIÓN DE APERTURA (compra venta de viviendas con o sin incidencias)
Honorarios de intermediación de 2.000€ aprox. (pueden ser mayores, eso depende de la dificultad que plantee cada caso)
Gastos de la compraventa vivienda: dependiendo igualmente de la complejidad de cada caso y de la deuda que adquiera la empresa.
Estos gastos están sujetos a la entidad financiera que corresponda (puede variar por zona geográfica, cantidad a pedir. Etc…)
<br><br>
<b>2.</b> TAE (Tasa Anual Equivalente) 8% al 15% TIN (Interés Nominal) Banca, Consumo y Entidad el interés actual del mercado aprox. Entre el 8% y el 15% (variará en relación al precio actual)
<br>
Para préstamos Hipotecarios la comisión mínima de apertura será de 2.000€ en honorarios. En Hipotecas hasta 30 años El Préstamo Personal será a un máximo de 8 años.
La Tasa Anual Equivalente (TAE) es el coste total del crédito expresado en forma de porcentaje anual del importe total del crédito y sirve para comparar diferentes ofertas.
<br><br><b>La TAE será la siguiente según el plazo de financiación:<br>
Para saldos pendientes de hasta 6.000 €: 24,51%<br>
Para saldos pendientes entre 6.000,01 y 9.000 €: 16,95%<br>
Para saldos pendientes entre 9.000,01 y 12.000 €: 10,95%</b>
                </p>
            </div>
        </div>

        <br>
        <br>
    </div>
</div>
    <br>
    <br>

{% endblock content %}