{% extends "web_base.html" %}
{% load staticfiles %}
{% block content %}
<br><br>
<div class="container">
    <div class="container mi-container gris" id="préstamorapido">
        <p><span class="glyphicon glyphicon-triangle-right triangulo-p"></span><font class="mi-texto-header">&nbsp;Aviso legal</font>
        </p>
        <br>

        <div class="row">
            <div class="col-md-12">
                <p>Conforme a la ley 15/1999 de protección de datos de carácter personal PROTECCIÓN DE DATOS PERSONALES: De acuerdo con la normativa vigente de protección de datos, Prestamo Asegurado que su dirección de correo electrónico forma parte de nuestros ficheros de datos, recopilados con la finalidad de gestionar su relación con nuestra entidad. Si usted no desea recibir más comunicaciones por esta vía, le rogamos responda a este email con la palabra BAJA.
<br><br>
El titular de la web (Prestamo Asegurado), con domicilio a efectos administrativos en c/ Pintor Fortuny nº 21 local, 08830 Viladecans - Barcelona.
<br><br>
Email: info@prestamoasegurado.com
<br><br>
Prestamo Asegurado se reserva el derecho a actualizar, modificar o eliminar cualquier información contenida en sus páginas WEB, pudiendo incluso limitar y denegar el acceso a dicha información a quien lo crea conveniente.
<br><br>
Las ofertas que en nuestra página Web se exponen, son única y exclusivamente para transaciones realizadas en territorio español.
<br><br>
Prestamo Asegurado no tiene acceso a los visitantes de su página web si no se han registrado, lo cual indica que no considera esa visita como cliente ya que no queda ningún dato sobre él ni tenemos acceso a saberlo.
                </p>
            </div>
        </div>

        <br>
        <br>
    </div>
</div>
    <br>
    <br>

{% endblock content %}