{% extends "web_base.html" %}
{% load staticfiles %}
{% block content %}

            <section class="section clearfix">
				<div class="container">
					<h3>Preguntas más frecuentes</h3>
					<div class="separator-2"></div>
					<div class="row">

							<!-- accordion start -->
							<!-- ================ -->
							<div class="panel-group collapse-style-1" id="accordion">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" class="">
												¿Cuál es la diferencia entre un préstamo y un crédito?
											</a>
										</h4>
									</div>
									<div id="collapseOne" class="panel-collapse collapse in" aria-expanded="false">
										<div class="panel-body">
											Le asesoramos de forma transparente y profesional para que pueda acceder de nuevo al crédito bancario. No lo dude más y llámenos sin ningún compromiso transparente y profesional para que pueda acceder de nuevo al crédito bancario. No lo dude más y llámenos sin ningún compromiso.
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed" aria-expanded="false">
												¿Qué pasa si estoy en lista de morosidad?
											</a>
										</h4>
									</div>
									<div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
										<div class="panel-body">
											En caso de que usted se encuentre en listas de morosidad ninguna entidad podrá facilitar ningún tipo de trámite. No obstante, para salir de tal situación no dude en llamarnos y preguntar qué opciones hay para salir de la misma, ya que actualmente disponemos de varias opciones para revertir la situación.
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed" aria-expanded="false">
												¿Por qué nosotros?
											</a>
										</h4>
									</div>
									<div id="collapseThree" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
										<div class="panel-body">
											Actualmente las entidades financieras se ven desbordadas por la situación económica actual. No obstante, PréstamoAsegurado consigue mantener una estabilidad y un fácil acceso a dichas entidades, facilitando de esta manera la tramitación y aceptación del crédito.
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" class="collapsed" aria-expanded="true">
												¿Puedo solicitar un préstamo/crédito si no estoy fijo?
											</a>
										</h4>
									</div>
									<div id="collapseFour" class="panel-collapse collapse" aria-expanded="true">
										<div class="panel-body">
											La mejor opción a la hora de solicitar cualquier de importe es no estar en ningún tipo de lista de morosidad. Aún así, el hecho de estar fijo o indefinido en un puesto de trabajo es un punto muy a favor.
										</div>
									</div>
								</div>
                                <div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" class="collapsed">
												¿Para qué sirve el contacto por email?
											</a>
										</h4>
									</div>
									<div id="collapseFive" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
										<div class="panel-body">
											Hoy en día el mercado ofrece distintos productos financieros orientados al préstamo de una determinada cantidad de dinero. No obstante, no es muy difícil confundir un crédito personal con un préstamo personal.
										</div>
									</div>
								</div>
							</div>
							<!-- accordion end -->
					</div>
				</div>
			</section>


			<section class="section clearfix" id="section3">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="call-to-action text-center">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <h1 id="section3title" class="title"></i>Llámenos</h1>
                                        <ul class="list-inline">
                                            <li><p class="link-light">Atención Instantánea</p></li>
                                            <li><p class="link-light">Su dinero inmediato</p></li>
                                            <li><p class="link-light">Ayudas RAI / ASNEF</p></li>
                                            <li><p class="link-light">Préstamo Online</p></li>
                                            <li><p class="link-light">Trato Personalizado</p></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-4">
                                        <br>
                                        <p><a href="tel:807464206" class="btn btn-lg btn-default btn-animated">807 46 42 06<i class="fa fa-phone pl-20"></i></a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>



{% endblock content %}