{% extends "web_base.html" %}
{% load staticfiles %}
{% block content %}

    <section class="light-gray-bg pv-40">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p><b>Prestamo Asegurado</b> es una empresa dedicada a ofrecer servicios de trámites bancarios con entidades bancarias tanto a particulares como a autónomos o empresas. Con nuestro personal cualificado analizamos sus necesidades con el fin de encontrar una solución acorde a la prestación necesaria de cada usuario.</p>
                    <div class="progress mt-20 style-1">
                        <span class="text"></span>
                        <div class="progress-bar progress-bar-default" data-animate-width="90%" style="width: 90%;">
                            <span class="label object-non-visible animated object-visible fadeInLeftSmall"
                                  data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">RAI/ASNEF</span>
                        </div>
                    </div>
                    <div class="progress style-1">
                        <span class="text"></span>
                        <div class="progress-bar progress-bar-default" data-animate-width="85%" style="width: 95%;">
                            <span class="label object-non-visible animated object-visible fadeInLeftSmall"
                                  data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">HIPOTECARIO</span>
                        </div>
                    </div>
                    <div class="progress style-1">
                        <span class="text"></span>
                        <div class="progress-bar progress-bar-default" data-animate-width="92%" style="width: 80%;">
                            <span class="label object-non-visible animated object-visible fadeInLeftSmall"
                                  data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">PERSONAL</span>
                        </div>
                    </div>
                    <div class="progress style-1">
                        <span class="text"></span>
                        <div class="progress-bar progress-bar-default" data-animate-width="96%" style="width: 85%;">
                            <span class="label object-non-visible animated object-visible fadeInLeftSmall"
                                  data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">RÁPIDO</span>
                        </div>
                    </div>
                    <div class="progress style-1">
                        <span class="text"></span>
                        <div class="progress-bar progress-bar-default" data-animate-width="86%" style="width: 75%;">
                            <span class="label object-non-visible animated object-visible fadeInLeftSmall"
                                  data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">COCHE</span>
                        </div>
                    </div>
                </div>
                <!--<div class="col-md-6">
                    <div class="" style="opacity: 1; display: block;">
                        <div class="">
                            <div class="">
                                <div class="owl-item">
                                    <div class="testimonial text-center">
                                        <div class="testimonial-image">
                                            <img src="img/testimonial-1.jpg" alt="Jane Doe" title="Jane Doe" class="img-circle">
                                        </div>
                                        <h3>Just Perfect!</h3>
                                        <div class="separator"></div>
                                        <div class="testimonial-body">
                                            <blockquote>
                                                <p>Sed ut perspiciatis unde omnis iste natu error sit voluptatem accusan
                                                    tium dolore laud antium, totam rem dolor sit amet tristique
                                                    pulvinar, turpis arcu rutrum nunc, ac laoreet turpis augue a
                                                    justo.</p>
                                            </blockquote>
                                            <div class="testimonial-info-1">- Jane Doe</div>
                                            <div class="testimonial-info-2">By Company</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
    </section>


    <div class="fondoblau">
        <div class="container">
            <div class="textfondoblau2">
                <br>
                <p>Especializados en el trámite bancario y en la concesión de créditos a distancia, con férreos principios y ofreciendo a cada persona <b>un trato totalmente personalizado.</b>.</p>
            <br>
            </div>
        </div>
    </div>
    <br>


    <section class="full-width-section">
        <div class="">
            <img class="to-right-block" src={% static "img/empresa.jpg" %} alt="Relog">

        </div>
        <div class="full-text-container light-gray-bg" id="section1">
            <div class="separator-2 visible-lg"></div>
            <h3 id="white2">Prestamo Asegurado es una empresa independiente sin vinculación exclusiva con empresas o
                entidades de crédito que ofrecen financiación.</h3>
            <div class="separator-3 visible-lg"></div>
        </div>
    </section>

    <div class="container">
        <br><br>
        <div class="row">
            <div class="col-xs-2 col-md-1">
                <img alt="" class="img-responsive" src={% static "img/tick-grande.png" %}>
            </div>
            <div class="col-xs-10 col-md-11" id="texto-ticks">
                No dude en ponerse en contacto con nosotros para solicitar una primera entrevista telefónica donde
                estudiaremos sus necesidades, garantizándole la más estricta confidencialidad en cumplimiento de la Ley
                Orgánica de Protección de Datos de Carácter Personal (LOPD).
            </div>
        </div>

        <br>
        <br>

        <div class="row">
            <div class="col-xs-2 col-md-1">
                <img alt="" class="img-responsive" src={% static "img/tick-grande.png" %}>
            </div>
            <div class="col-xs-10 col-md-11" id="texto-ticks">
                Una vez finalizado este trámite, pasará a asesoramiento en el cual se hace un estudio personalizado para
                poder ofrecer en cada caso el servicio adecuado a cada necesidad.
            </div>
        </div>

        <br>
        <br>

        <div class="row">
            <div class="col-xs-2 col-md-1">
                <img alt="" class="img-responsive" src={% static "img/tick-grande.png" %}>
            </div>
            <div class="col-xs-10 col-md-11" id="texto-ticks">
                Actuamos como intermediarios entre usted y la entidad o inversor que ofrece el producto y no cobramos
                comisiones por la aceptación del crédito o préstamo en caso de aceptación.
            </div>
        </div>
        <br><br>
    </div>

    <section class="section clearfix" id="section3">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="call-to-action text-center">
                        <div class="row">
                            <div class="col-sm-8">
                                <h1 id="section3title" class="title"></i>Llámenos</h1>
                                <ul class="list-inline">
                                    <li><p class="link-light">Atención Instantánea</p></li>
                                    <li><p class="link-light">Su dinero inmediato</p></li>
                                    <li><p class="link-light">Ayudas RAI / ASNEF</p></li>
                                    <li><p class="link-light">Préstamo Online</p></li>
                                    <li><p class="link-light">Trato Personalizado</p></li>
                                </ul>
                            </div>
                            <div class="col-sm-4">
                                <br>
                                <p><a href="tel:807464206" class="btn btn-lg btn-default btn-animated">807 46 42 06<i
                                        class="fa fa-phone pl-20"></i></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock content %}