{% extends "web_base.html" %}
{% load staticfiles %}
{% block content %}

<!-- section start -->
<!-- ================ -->
<section class="pv-30 light-gray-bg clearfix">
    <div class="container">
        <h3 class="center" style="text-align: center"> NUESTROS <text id="text-orange">SERVICIOS</text></h3>
        <div class="separator"></div>
        <p class="text-center">Tras mucho tiempo en el sector Préstamo Asegurado actualmente dispone de un amplio abanico de servicios que ofrecer a todo aquel que tenga una necesidad económica que necesite resolver de forma rápida y eficaz.<br>Nuestros servicios son los aquí expuestos. No dude en informarse y así solucionar de una vez por todas sus problemas.</p>
        <br>
        <div class="row grid-space-10">
            <div class="col-sm-6 col-md-4">
                <div class="pv-30 ph-20 white-bg feature-box bordered text-center">
                    <span class="icon default-bg circle"><img src={% static "img/ico4.png" %} style="margin-top:6px; margin-left:8px;"> </span>
                    <h3>Créditos Rápidos</h3>
                    <div class="separator clearfix"></div>
                    <p>Los Préstamos rápidos están destinados a hacer frente a gastos inesperados o necesidades de dinero puntuales. Este servicio ofrece hasta 800€ adaptándose a las necesidades de cada uno.</p>
                        <br><br><p class="taes"><small>Plazo de devolución entre 61 días y 36 meses. TAE mínimo 79,38% - TAE máximo 213,5%. Ejemplo representativo: Crédito de 1.000€. A devolver en 24 meses. Interés fijo anual 59,88%. Cuota mensual 72,40€. Sin comisión de apertura, de estudio o por cancelación anticipada. TAE 79,38%. Cantidad total a devolver 1.737,61€.</small>
                    </p>
                    <a href="/servicios/#rapido" class="btn btn-default btn-animated">Leer más <i class="fa fa-angle-double-right"></i></a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="pv-30 ph-20 white-bg feature-box bordered text-center">
                    <span class="icon default-bg circle"><img src={% static "img/ico3.png" %} style="margin-top:6px; margin-left:8px;"></span>
                    <h3>Créditos Hogar</h3>
                    <div class="separator clearfix"></div>
                    <p>Destinado a la compra de un bien o inmueble en propiedad, este producto es el que consigue mejores condiciones bancarias. Estudiamos por usted los mejores índices de referencia del mercado.</p>
                        <br><p class="taes"><small>Plazo de devolución entre 61 días y 36 meses. TAE mínimo 79,38% - TAE máximo 213,5%. Ejemplo representativo: Crédito de 1.000€. A devolver en 24 meses. Interés fijo anual 59,88%. Cuota mensual 72,40€. Sin comisión de apertura, de estudio o por cancelación anticipada. TAE 79,38%. Cantidad total a devolver 1.737,61€.</small>
                    </p>
                    <a href="/servicios/#hogar" class="btn btn-default btn-animated">Leer más <i class="fa fa-angle-double-right"></i></a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="pv-30 ph-20 default-bg feature-box bordered text-center">
                    <span class="icon dark-bg  circle"><img src={% static "img/ico1.png" %} style="margin-top:6px; margin-left:8px;"></span>
                    <h3>Préstamo Personal</h3>
                    <div class="separator clearfix"></div>
                    <p>Préstamo personal, puede solicitarlo por importes hasta 12.000€.
                        Préstamo Asegurado pone a su alcance un préstamo personal a su medida para que haga realidad sus proyectos e ilusiones.</p>
                        <br><br><p class="taes"><small>Plazo de devolución entre 61 días y 36 meses. TAE mínimo 79,38% - TAE máximo 213,5%. Ejemplo representativo: Crédito de 1.000€. A devolver en 24 meses. Interés fijo anual 59,88%. Cuota mensual 72,40€. Sin comisión de apertura, de estudio o por cancelación anticipada. TAE 79,38%. Cantidad total a devolver 1.737,61€.</small>
                    </p>
                    <a href="/servicios/#personal" class="btn btn-default btn-animated">Leer más <i class="fa fa-angle-double-right"></i></a>
                </div>
            </div>
            <!--<div class="col-sm-6 col-md-3">
                <div class="pv-30 ph-20 white-bg feature-box bordered text-center">
                    <span class="icon default-bg circle"><img src={% static "img/ico2.png" %} style="margin-top:6px; margin-left:8px;"></span>
                    <h3>Préstamo Vehículo</h3>
                    <div class="separator clearfix"></div>
                    <p>Tu vehículo se utilizará como garantía para el préstamo pero con la particularidad de que no es obligatorio esto último. También puedes seguir utilizándolo sin ningún tipo de problema.**</p>
                    <a href="/servicios/#coche" class="btn btn-default btn-animated">Leer más <i class="fa fa-angle-double-right"></i></a>
                </div>
            </div>-->
        </div>
    </div>
</section>
<!-- section end -->

<!-- section start -->
<!-- ================ -->
<section class="section clearfix" id="section3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="call-to-action text-center">
                    <div class="row">
                        <div class="col-sm-8">
                            <h1 id="section3title" class="title"></i>Llámenos</h1>
                            <ul class="list-inline">
                                <li><p class="link-light">Atención Instantánea</p></li>
                                <li><p class="link-light">Su dinero inmediato</p></li>
                                <li><p class="link-light">Ayudas RAI / ASNEF</p></li>
                                <li><p class="link-light">Préstamo Online</p></li>
                                <li><p class="link-light">Trato Personalizado</p></li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <br>
                            <p><a href="tel:807464206" class="btn btn-lg btn-default btn-animated">807 46 42 06<i class="fa fa-phone pl-20"></i></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section end -->

<!-- section start -->
<!-- ================ -->
<section class="section clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Nuestras <span class="text-default">Cualidades</span></h3>
                <div class="separator-2"></div>
                <div class="block">
                    <div class="media margin-clear">
                                                <div class="media-body">
                            <h5 class="media-heading">No importa ASNEF</h5>
                            <p class="margin-clear small">Puede solicitar su crédito o préstamo, aunque esté en lista de impagos o morosos.</p>
                        </div>
                        <hr>
                    </div>
                    <div class="media margin-clear">
                        <div class="media-body">
                            <h5 class="media-heading">Crédito en 24h</h5>
                            <p class="margin-clear small">Pídanos una cantidad y cuando lo necesita. En minutos su dinero estará disponible. Usted decide, contáctanos y los solucionaremos</p>
                        </div>
                        <hr>
                    </div>
                    <div class="media margin-clear">
                        <div class="media-body">
                            <h5 class="media-heading">Su dinero inmediato</h5>
                            <p class="margin-clear small">Su solicitud es totalmente gratuita. Tendrá un proyecto adaptado a sus necesidades y sin comisiones.</p>
                        </div>
                        <hr>
                    </div>
                    <div class="media margin-clear">
                        <div class="media-body">
                            <h5 class="media-heading">Préstamo online</h5>
                            <p class="margin-clear small">Llámenos y obtenga su préstamo sin moverse de casa con un estudio gratuito y sin comisiones.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h3>Por qué <span class="text-default">Elegirnos</span></h3>
                <div class="separator-2"></div>
                <!-- accordion start -->
                <!-- ================ -->
                <div class="panel-group collapse-style-2" id="accordion-2">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion-2" href="#collapseOne-2">
                                     <img src={% static "img/icos1.png" %} style="display: -webkit-inline-box;"> Flexibilidad
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne-2" class="panel-collapse collapse in">
                            <div class="panel-body bordered p-15">
                                Seleccione el valor del préstamo y por cuánto tiempo lo vas a necesitar.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion-2" href="#collapseTwo-2" class="collapsed">
                                    <img src={% static "img/icos2.png" %} style="display: -webkit-inline-box;">Ahorra dinero
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo-2" class="panel-collapse collapse">
                            <div class="panel-body bordered p-15">
                                Investigamos las instituciones de crédito más confiables y reconocidas, y le presentamos la mejor opción de crédito.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion-2" href="#collapseThree-2" class="collapsed">
                                    <img src={% static "img/icos3.png" %} style="display: -webkit-inline-box;">Una llamada
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree-2" class="panel-collapse collapse">
                            <div class="panel-body bordered p-15">
                                El proceso es 100% online. Sin colas, con una simple llamada atención personalizada.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion-2" href="#collapseFour-2" class="collapsed">
                                    <img src={% static "img/icos4.png" %} style="display: -webkit-inline-box;">No hay gastos adicionales ni letras pequeñas
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour-2" class="panel-collapse collapse">
                            <div class="panel-body bordered p-15">
                                Nuestro servicio transparente le permite ver el coste total de su mini préstamo antes de validar la solicitud.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion-2" href="#collapseFive-2" class="collapsed">
                                    <img src={% static "img/icos5.png" %} style="display: -webkit-inline-box;">Respuesta rápida
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFive-2" class="panel-collapse collapse">
                            <div class="panel-body bordered p-15">
                                En tan solo 15 minutos, una vez confirmada la mejor opción.
                            </div>
                        </div>
                    </div>
                </div>
                <!-- accordion end -->
            </div>
            <div class="col-md-3">
                <h3>Diferentes al <span class="text-default">Resto</span></h3>
                <div class="separator-2"></div>
                <div class="light-gray-bg buttons-hide">
                    <div class="image-box style-2">
                        <div class="overlay-container overlay-visible">
                            <img src={% static "img/diferents.png" %} alt="diferentes">

                            <div class="overlay-bottom hidden-xs">
                                <div class="text">
                                    <p class="lead margin-clear text-left">Únicos en servicios</p>
                                </div>
                            </div>
                        </div>
                        <div class="body padding-horizontal-clear">
                            <p>Única empresa en el sector que dispone de todos los servicios para salir de cualquier situación económica.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section end -->

<!-- section start -->
<!-- ================ -->
<section class="full-width-section">
    <div class="">
        <img class="to-right-block" src={% static "img/relo.jpg"%} alt="Relog">

    </div>
    <div class="full-text-container light-gray-bg" id="section1">
        <h3 class="logo-font" ><span id="white" class="text-muted">Consigue a tiempo</span> <span class="text-default" id="white3"> su préstamo.</span></h3>
        <div class="separator-2 visible-lg"></div>
        <p id="white2">En Préstamo Asegurado nos encargamos de tramitar su solicitud en menos de 24 horas, trabajamos día a día para ofrecer un servicio cada vez mas rápido dada la necesidad de la mayoría de personas en obtener un préstamo.<br><br> Préstamo Asegurado es única en el sector ya que ofrece soluciones para todos los casos. No dude en llamarnos y nuestros agentes se encargaran de explicarle todos y cada uno de los servicios que ofrecemos para superar cualquier bache o simplemente para permitirse ese lujo o ese capricho que tanto desea y merece.<br><br>Gracias nuevamente por la confianza depositada en nosotros.</p>
        <div class="separator-3 visible-lg"></div>
    </div>
</section>
<!-- section end -->
<br><br>
<!-- section start -->
<!-- ================ -->
<!--<section class="clearfix">
    <div class="owl-carousel space-bottom content-slider">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="testimonial text-center">
                        <h3>Thank You!</h3>
                        <div class="separator"></div>
                        <div class="testimonial-body">
                            <blockquote>
                                <p>Sed ut perspiciatis unde omnis iste natu error sit voluptatem accusan tium dolore laud antium, totam rem dolor sit amet tristique pulvinar, turpis arcu rutrum nunc, ac laoreet turpis augue a justo.</p>
                            </blockquote>
                            <div class="testimonial-info-1">- Jane Doe</div>
                            <div class="testimonial-info-2">By Company</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="testimonial text-center">
                        <h3>I'm so Happy!</h3>
                        <div class="separator"></div>
                        <div class="testimonial-body">
                            <blockquote>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et cupiditate deleniti ratione in. Expedita nemo, quisquam, fuga adipisci omnis ad mollitia libero culpa nostrum est quia eos esse vel!</p>
                            </blockquote>
                            <div class="testimonial-info-1">- Jane Doe</div>
                            <div class="testimonial-info-2">By Company</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>-->
<!-- section end -->

<!-- footer top start -->
<!-- ================ -->
<section class="section clearfix" id="section2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="call-to-action text-center">
                    <div class="row">
                        <div class="col-sm-8">
                            <h1 id="section4title" class="title">Llamenos</h1>
                            <ul class="list-inline">
                                <li><p class="link-light">Atención Instantánea</p></li>
                                <li><p class="link-light">Su dinero inmediato</p></li>
                                <li><p class="link-light">Ayudas RAI / ASNEF</p></li>
                                <li><p class="link-light">Prestamo Online</p></li>
                                <li><p class="link-light">Trato Personalizado</p></li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <br>
                            <p><a href="tel:807464206" class="btn btn-lg btn-default btn-animated botonllamanos">807 46 42 06<i class="fa fa-phone pl-20"></i></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section clearfix">
    <div class="container">
        <h3>PréstamoAsegurado le informa</h3>
        <div class="separator-2"></div>
        <div class="row">

            <!-- accordion start -->
            <!-- ================ -->
            <div class="panel-group collapse-style-1" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" class="collapsed">
                                Devolución del préstamo rápido
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body">
                            &nbsp;La devolución de los créditos rápidos se realizará mediante transferencia bancaria a la cuenta indicada del prestamista. En aquellos casos en los que el prestatario no abonara la devolución del crédito en el plazo estipulado, el préstamo pasará a ser gestionado por el Departamento de Cobros del Prestamista. El prestamista se comunicará con el prestatario, a través de teléfono, correo electrónico, SMS y correo postal o a través de cualesquiera otros que estimara conveniente, a fin de la correcta gestión del cobro.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed" aria-expanded="false">
                                Política de renovación y penalización por impago
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body">
                            &nbsp;La aceptación de esa solicitud de renovación dependerá del prestamista que esté gestionando el crédito personal. En caso de aceptación de la solicitud, el cliente deberá pagar una comisión adicional. El pago de dicha comisión significará que el cliente está de acuerdo con ella y solo así se podrá llevar a cabo la renovación o prórroga del préstamo. Toda la información relacionada con la renovación se remitirá al cliente por email. Si el cliente no cumple con el plazo estipulado para la devolución del importe del crédito y los gastos de gestión, y no tramita una renovación, se le cargará una penalización, la cantidad dependerá del prestamista. Además, se cargarán al cliente otros gastos derivados del impago, y dicho cliente podría ser objeto de otras consecuencias económicas o administrativas, como la inclusión en ficheros de solvencia patrimonial y de crédito.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed" aria-expanded="false">
                                Información de los Pasos a seguir para la gestión del producto
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body">
                            &nbsp;- Aportación documentos
                            <br>- 48 horas después, aprox, llaman al solicitante para informar sobre su caso y condiciones
                            <br>- Caso de aceptar el solicitante, se procede a preparar la documentación para llegar a Notaría.
                            <br>- Tiempo estimado para la Notaría, sobre 7 / 10 días
                            <br>- Se firma compraventa vivienda
                            <br>- Se firma contrato de alquiler con opción a compra, igual en duración, al tiempo usado para litigiar contra los acreedores, ya sean entidades bancarias u otros.
                            <br>- Se comienza a pagar el alquiler negociado entre cliente y empresa.
                            <br>- Una vez finalizado el litigio (de 1 a varios años) se propone ejecutar la recompra de la vivienda al cliente, o éste se marcha si es su deseo de no volver a comprar. El cliente puede designar a otro comprador para su vivienda y, se le respectan las mismas condiciones del pacto
                            <br>- La compra está aproximadamente sobre el 50% del valor de la deuda original.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" class="collapsed" aria-expanded="true">
                                Coste para el cliente
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" aria-expanded="true">
                        <div class="panel-body">
                            &nbsp;Existen varios conceptos que el cliente debe asumir(No obstante, cuando entran en contacto con el cliente, le informan con mayor precisión. Debemos tener en cuenta que cada caso es diferente. Solo en caso de avalar con una propiedad immobiliaria cabria la posibilidad de perder dicha. El resto va a variar según cada tipo de cliente, con total seguridad. Lo que implica que el coste podría ser mayor para unos, y menor para otros)
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" class="collapsed" aria-expanded="true">
                                Nuestros gastos de gestión (TAE)
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse" aria-expanded="true">
                        <div class="panel-body">
                            &nbsp;Préstamo Asegurado TAE: entre 8% - 15% máximo dependiendo entidad de tramiete | Nuestros términos de reembolso son de mínimo 2 meses y máximo hasta 5 años | Comisiones de tramite: 2.000€ max. dependiendo de garantías del cliente | Tiempo de devolución(según mercado): hipotecario hasta 30 años; personal hasta 8 años | más información
                            <br>Ejemplo para un préstamo de 6.000€ a 36 meses TIN 8,45% TAE 8,79% mensualidad 189,27€.
                            <br>Ejemplo para un préstamo de 10.000€ a 60 meses TIN 6,95% TAE 7,18% mensualidad 197,78€.
                            <br>Ejemplo para un préstamo de 15.000€ a 96 meses TIN 6,95% TAE 7,18% mensualidad 204,13€.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix" class="collapsed" aria-expanded="true">
                                Sobre nuestra actividad
                            </a>
                        </h4>
                    </div>
                    <div id="collapseSix" class="panel-collapse collapse" aria-expanded="true">
                        <div class="panel-body">
                            &nbsp;Préstamo Asegurado no es un prestamista y no decide si una solicitud de préstamo es aceptada o no. La labor de Préstamo Asegurado es trasladar las solicitudes efectuadas en nuestro sitio web a las compañías crediticias que forman parte de nuestra base de datos y que son las que deciden si la solicitud es aceptada o no. Préstamo Asegurado no tiene preferencias por una u otra, y no promociona a ninguna de ellas. Por tanto, el mero hecho de enviar una solicitud no garantiza que el préstamo vaya a ser concedido. El plazo de tramitación y de concesión de un préstamo tampoco depende de Préstamo Asegurado, sino de cada prestamista. Toda la información presente en nuestro sitio web tiene un carácter meramente informativo y divulgativo. Los datos personales proporcionados por el cliente a través de nuestro formulario serán tratados conforme a la legislación vigente. Para más información, visite nuestra sección de Política de Privacidad.
                        </div>
                    </div>
                </div>
            </div>
            <!-- accordion end -->
        </div>
    </div>
</section>
{% endblock content %}